
<div  class="d-sm-flex align-items-center justify-content-between mb-4">
    
    <h1 class="h3 mb-0 text-gray-800" style="color: #22577E ;"></h1> 
    <!--<a routerLink="/adduser" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="background-color: #5584AC;">
        <i class="fas fa-download fa-sm text-white-50"> </i>  Add</a>-->
</div>


<div class="cr">
<div class="card shadow mb-4 " >

    <div class="card-header py-3"   [style.background-color]="'#B7CADB'">
        <h6 class="m-0 font-weight-bold text-primary " >All  SENSORS</h6>
            <button mat-raised-button color="primary"  [routerLink]="['/addcapteur']" style="background-color: #5584AC;">Add</button>
            <button mat-raised-button color="primary"  [routerLink]="['/home']" style="background-color: #5584AC;">Back</button>
            

        </div>



    <div class="card-body">
        <table class="table">
        
            <thead>
                <tr>
                   
                    <th>Name</th>
                    <th>Utility</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
            
                <!--ngfor : appel d'un élement (se trouve) dans ts, dans html  -->
                <tr *ngFor="let item3 of  listcapteur ">
                    
                    <td>{{ item3.nom }}</td>
                    <td>{{ item3.utilite}}</td>
                    <td>{{ item3.quantite }}</td>
                    <td>
                        <div class="example-button-container">
                           <!-- <button mat-fab color="#FAFFAF" (click)= "openDialog(item1.$key)" aria-label="Example icon button with a delete icon">
                                <mat-icon>delete</mat-icon>
                              </button>-->
                              <span class="material-icons" style="color:#5584AC;"(click)= "openDialog(item3.$key)">delete</span>
                              <span class="material-icons" style="color:#5584AC;" (click)="edit(item3.$key)">edit</span>
                          </div>
                           </td>
                </tr>
            </tbody>
            </table>
            
    </div>   
</div>
</div>



<!--
<div class="example-button-row">
    <button mat-raised-button color="primary"  [routerLink]="['/home']" style="background-color: #5584AC;">Back</button>
</div>

<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" [style.color]="'#F8B400'">
    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
    Logout
</a>

-->



