.image{
    height: 40em; background-size: cover;width: auto;
    background-image: url('images.jpg');
    background-position: 50% 50% ;
}
.cr{
    margin-top: 3cm;
    margin-right: 4cm;
    margin-left: 4cm;
}
