.image{
    margin-top: 2cm;
    margin-left: 42% ;
    margin-right: 59%;
    height: 6cm;
    width: 8cm;    
    
}
.center{
    margin-top: 2cm;
    margin-left: 40% ;
    margin-right: 60%;
    height: 6cm;
    width: 8cm;   
}