

<div class="container">
    <main>
        <section>
            <h2>Forget your password?</h2>
            <p>we can send you a reset link</p>
        </section>
        <div class="col-5">
            <input type="email" class="form-control" id="email" placeholder="enter your email" [(ngModel)]="email" required>
        </div>

        <div class="marg">
        <button class="btn " (click)="resetPassword(email)" style="background-color: #5584AC;"  [style.color]="'#F5F5F5'">Reset password</button>
        <!--<button mat-raised-button color="primary"  [routerLink]="['/login']" style="background-color: #5584AC;">Back</button> !-->
        </div>
    </main>
    </div>
