/*
.ccc{
   margin-top: 2cm;
}
.ppp{
 background-image: url('fondd.jpg');
}
*/


.bb{
   margin-top: 1cm;
   margin-left: 12cm;
   margin-bottom: 1cm;
 
 }
 .ee{
   background-image: url('fondd.jpg');
 }
 .ff{
  margin-left: 1cm;
  
 }