
  
<div  class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800" style="color: #22577E ;"></h1>
</div>

<div class="cr">
<div class="card shadow mb-4">
    
    <div class="card-header py-3" [style.background-color]="'#B7CADB'">
       <!-- <button class="btn btn-primary my-3" [routerLink]="['/users']"  style="background-color: #5584AC;">Back</button>-->
        <h6 class="m-0 font-weight-bold text-primary">ADD SENSOR</h6>
    </div>
    <div class="card-body">
       <form [formGroup]="addCapteurForm" (ngSubmit)="onSubmit()" >
           
           <div class="form-group mb-3">
            <label for="nom">Name :</label>
            <!--ng model : appel à l'attribut firstname déclaré dans le modèle-->
            <input type="text" name="nom" id="nom" 
            class="form-control" formControlName="Nom" [(ngModel)]="nom"  >
           </div>

           <div class="form-group mb-3">
            <label for="utilite">Utility</label>
            <input type="text" name="utilite" id="utilite" class="form-control"
             formControlName="Utilite"   [(ngModel)]="utilite" >
        </div>
        <div class="form-group mb-3">
            <label for="quantite">Quantity</label>
            <input type="text" name="quantite" id="quantite" 
            class="form-control" formControlName="Quantite"   [(ngModel)]="quantite" >
        </div>
       

           <div class="form-group">
            <button type="submit" class="btn btn-primary"   style="background-color: #5584AC;">Add </button>
            <button class="btn btn-primary my-3" [routerLink]="['/capteur']"  style="background-color: #5584AC;">Back</button>
           </div>

       </form>
    </div>

</div>
</div>