

<div class="image">

<div class="dimen">

  

<div class="card-deck">

<div class="mm">

  <div class="card">
    <img class="card-img-top" src="https://www.goodfreephotos.com/cache/vector-images/group-of-members-users-icon_800.png?cached=1522468571" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">User's List</h5>
    </div>
    <div class="card-footer" >
      <button mat-raised-button color="primary"  [routerLink]="['/users']" style="background-color: #143F6B;">Chek users</button>
    </div>
  </div>
</div>

<div class="mn">
  <div class="card">
    <img class="card-img-top" src="https://media.istockphoto.com/photos/honeycomb-circuitry-surface-picture-id822082018?b=1&k=20&m=822082018&s=170667a&w=0&h=KbIOTRvNvPUuwr6-19C8h0x6_YVr1ntHgM-485dY4FY=" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">sensors</h5>
    </div>
    <div class="card-footer" >
      <button mat-raised-button color="primary"  [routerLink]="['/capteur']" style="background-color: #143F6B;">Chek sensors</button>
    </div>
  </div>
</div>

<div class="mm">
  <div class="card">
    <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/172/172150.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Products's List</h5>
    </div>
    <div class="card-footer" >
      <button mat-raised-button color="primary"  [routerLink]="['/produit']" style="background-color: #143F6B;">Chek Products</button>
    </div>
  </div>
</div>



</div>
</div>
<div class="dropdown-divider">
 <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" [style.color]="'#F8B400'">
    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
    Logout
 </a>
</div>



<!--<div>
<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" [style.color]="'#F8B400'">
    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
    Logout
</a>
</div>
</div>



 <div  class="image ">

<mat-card class="example-card" [style.background-color]="'#035397'">
  <div class="dimensions">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Users</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://www.goodfreephotos.com/albums/vector-images/group-of-members-users-icon.png" alt="Photo of a Shiba Inu">
  <mat-card-actions>
    <button mat-raised-button color="primary"  [routerLink]="['/users']" style="background-color: #143F6B;">Chek users</button>
  </mat-card-actions>
</div>
</mat-card>

<mat-card class="example-card" [style.background-color]="'#E04D01'">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Products</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://cirocfc.gallerycdn.vsassets.io/extensions/cirocfc/yet-another-vscode-extension-pack/0.0.4/1593730571865/Microsoft.VisualStudio.Services.Icons.Default" >
  <mat-card-actions>
    <button mat-raised-button color="primary"  [routerLink]="['/products']" style="background-color: #143F6B;">Chek products</button>
  </mat-card-actions>
</mat-card>



<mat-card class="example-card" [style.background-color]="'#E0D8B0'">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>QR Code generator</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="https://fr.qr-code-generator.com/wp-content/themes/qr/new_structure/markets/core_market/generator/dist/generator/assets/images/websiteQRCode_noFrame.png" >
  <mat-card-actions>
    <button mat-raised-button color="primary"  [routerLink]="['/qrc-geerator']" style="background-color: #143F6B;">generate QRcode</button>
  </mat-card-actions>
</mat-card>

 </div>


<div class="dropdown-divider"></div>
<a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal" [style.color]="'#F8B400'">
    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
    Logout
</a>
-->